body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.colorBtn{
  padding: 0.25rem o.5rem;
  border: 3px solid #fefefe;
  border-radius: 7px;
  color: #fefefe;
  background: rgba(0,0,0,0.8);
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
}
  
.colorBtn:hover{
  background:black;
}